.Menu{
    background-color: #f5f4f3;
    height:48px;
}
.Menu>ul li {
    display:inline;
    vertical-align:text-top;
    padding:2%;
}
.Footer{
    background-color: #f5f4f3;
    width:100%;
}
.Footer>div{
    display:inline-block;
    vertical-align:text-top;
}
.item_table>div{
    display:inline-block;
    height:320px;
    margin:1%;
}
.Content1{
    height:300px;
}
.Content1>div{
    display:inline-block;
    width:150px;
    padding:2%;
}
.Product>div{
    text-align: left;
}
/** 最好不要用這種無特殊意義的命名 div1,div2,div3....divN */
.Product>.P_div1,.P_div2{
    margin-top:25px;
    display:inline-block;
    vertical-align:text-top;
}
.Product_div3>ul li{
    display:inline;
    padding:10px;
}
li{
    list-style-type:none;
}
.Product_div4>button{
    /* font-family: '微軟正黑體'; */
    /* 最好寫英文，中文容易出問題 */
    font-family: 'Microsoft JhengHei';
    font-size:18px;
    margin-top:50px;
    border-radius: 10px;
    border:0;
    /* color:white; */
    /* 最好寫色碼 */
    color: #fff;
    background-color:#f5548c;
    width:50%;
    height:50px;
}