.Menu{
    background-color: #f5f4f3;
    height:48px;
}
.Menu>ul li {
    display:inline;
    vertical-align:text-top;
    padding:2%;
}
.Footer{
    background-color: #f5f4f3;
    width:100%;
    position:fixed;
    bottom: 0px;
}
.Footer>div{
    display:inline-block;
    vertical-align:text-top;
}
.item_table>div{
    display:inline-block;
    margin:1%;
}
.Content1{
    height:300px;
}
.Content1>div{
    display:inline-block;
    width:150px;
    padding:2%;
}
.Product>div{
    text-align: left;
}
.Product>.P_div1,.P_div2{
    display:inline-block;
    vertical-align:text-top;
}
.Product_div3>ul li{
    display:inline;
    padding:10px;
}
li{
    list-style-type:none;
}